.professions.compare {

  .wrapper {
    display: flex;
    margin: auto;
    width: auto;

  }
  .first {
      border: 4px solid lightgrey;

  }
  .second {
      border: 4px solid lightgrey;
  }

}
