.professions.compare {

  .wrapper {
    display: flex;
    margin: auto;
    width: auto;
    color: #1E1248;
    flex-direction: row;
    box-shadow: 3px;
    border-radius: 20px;

  }

  .first {
      border: 4px solid #777777;
      border-right: 2px solid #777777;
      max-width: 340px;

  }

  .second {
      border: 4px solid #777777;
      width: auto;
      border-left: 2px solid #777777;
  }

  #K,#P {
    height: 120px;
    width: auto;
    padding-left: 12px;

    background-color: #e0e0e0;
    color: #1E1248;

  }
  #Pr {
    max-height: 120px;
    width: auto;
    padding-left: 12px;
  }

  #D {
  text-align: center;
  height: 90px;
  width: auto;
}

  #D h6 {
    color: #1E1248;
  }
  #S {
    padding-left: 12px;
  }
  ul {
  list-style-type: none;
  padding-left:0;
}
li {
  font-size: 0.75rem;
}
}
