
.footer_wide {
  width: 100%;
  text-align: center;
  padding: 8px;
  margin: 8px;
  background-color: grey;
  color: white;
}

i.fab.fa-github {
  color: white
}

i.fab.fa-instagram {
  color: white
}

i.fab.fa-facebook {
  color: white
}

i.fab.fa-twitter {
  color: white
}

i.fab.fa-linkedin {
  color: white
}
