
.footer-wide {
  width: calc(30px + 100%);
  position: relative;
  left: -30px;
  text-align: center;
  padding: 8px;
  margin: 8px;
  background-color: grey;
  color: white;
}

.footer-links {

  color: white
}

.pages.home {
  .carousel-item-text {

  }
}
