
.footer-wide {
  width: 100%;
  text-align: center;
  padding: 8px;
  margin: 8px;
  background-color: grey;
  color: white;
}

.footer-links {

  color: white
}

.pages.home {
  .carousel-item-text {

  }
}
