
  $roadmap-bg: rgba(0,0,0,0.01);
  $roadmap-color: $eggplant;
  // $roadmap-color: #007bff;
  $roadmap-font-stack: 'Lato', 'Helvetica', sans-serif;

h1 {
  font-weight: bolder;
  color: #1E1248;
  margin-top: 11vh;
}

p {
  font-family: "Playfair Display", sans-serif;
  color: #C3C4C7;
  font-size: 21px;
  font-style: italic;
}
.roadmap {

  font: 100% $roadmap-font-stack;
  font-weight: 300;
  color: $roadmap-color;
  height: 100%;
  background-color: $roadmap-bg;

  .blue-bg {
      background-color: $roadmap-bg;
      color: $roadmap-color;
      height: 100%;
      background-size: cover;
  }

  .circle {
      font-weight: bold;
      padding: 15px 20px;
      border-radius: 50%;
      background-color: $eggplant;
      color: $eggplant-inner-text;
      max-height: 50px;
      z-index: 2;
  }
}

.roadmap .how-it-works.row {
  display: flex;

  p {
  font-weight: bolder;
  color: #C3C4C7;
  font-size: 17px;
  }

  .col-2 {
      display: inline-flex;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      &::after {
          content: '';
          position: absolute;
          border-left: 3px solid $roadmap-color;
          z-index: 1;
      }
  }
  .col-2.bottom:after {
    height: 50%;
    left: 50%;
    top: 50%;
  }
  .col-2.full:after {
    height: 100%;
    left: calc(50% - 3px);
  }
 .col-2.full_left:after {
    height: 100%;
    left: calc(50%);
  }


  .col-2.top:after {
    height: 50%;
    left: 50%;
    top: 0;
  }
}

.roadmap .timeline {
  div {
    padding: 0 !important;
    height: 40px;
  }

  hr {
    border-top: 3px solid $roadmap-color;
    margin: 0;
    top: 17px;
    position: relative;
  }

  .col-2 {
    display: flex;
    overflow: hidden;
  }

  .corner {
    border: 3px solid $roadmap-color;
    width: 100%;
    position: relative;
    border-radius: 15px;
  }

  .top-right {
    left: 50%;
    top: -50%;
  }

  .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
  }

  .top-left {
    left: -50%;
    top: -50%;
  }

  .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
  }
}





.checkbox {
    width: 100%;
    margin: 15px auto;
    position: relative;
    display: block;
    label {
        position: relative;
        min-height: 34px;
        display: block;
        padding-left: 40px;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
        span {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 4px;
            width: 22px;
            height: 22px;
            transition: transform 0.28s ease;
            border-radius: 3px;
            border: 2px solid $eggplant;
        }
        &:after {
            content: '';
            display: block;
            width: 10px;
            height: 5px;
            border-bottom: 2px solid $eggplant;
            border-left: 2px solid $eggplant;
            transform: rotate(-45deg) scale(0);
            transition: transform ease 0.25s;
            position: absolute;
            top: 12px;
            left: 10px;
        }
    }
    input[type="checkbox"] {
        width: auto;
        opacity: 0.00000001;
        position: absolute;
        left: 0;
        margin-left: -20px;
        &:checked ~ label{
            &:before {
                border: 2px solid $eggplant;
            }
            &:after {
                transform: rotate(-45deg) scale(1);
            }
        }
        &:focus + label::before {
            outline: 0;
        }
    }
}
