<div class="progressbar-outer">
  <div class="progressbar-inner">
    <div class="steps">
      <div class="step_label">
        <span class="step">1</span>
        <span class="label">Profile</span>
      </div>
      <div class="step_label active">
        <span class="step">2</span>
        <span class="label">Discover</span>
      </div>
      <div class="step_label">
        <span class="step">3</span>
        <span class="label">Roadmap</span>
      </div>
    </div>
    <hr class="line">
  </div>
</div>
