<div class="container col-12">
  <div class="carousel-wrapper">
    <h2>The ultimate App for graduates</h2>
    <hr>
    <div class="carousel-item-text">
      <p>You don´t know where to start your career?</p>
      <p>Actually you might not even be sure of your dream job...</p>
      <p>There are so many appealing career paths...</p>
      <p>you keep on searching...</p>
      <p>And even wonder where you belong!</p>
      <p>Does it ring a bell?</p>
    </div>
    <hr>
  </div>
  <div class="row">
    <div class="test-box">
      <div>
        <img src="https://d31u95r9ywbjex.cloudfront.net/sites/default/files/images/enneagram.png">
      </div>
      <div >
        <h3>Discover your <strong>true</strong> self</h3>
        <div>Run a comprehensive personality test</div>
      </div>
    </div>
    <div class="test-box">
      <div style="float:left;">
        <img src="https://d31u95r9ywbjex.cloudfront.net/sites/default/files/images/careerstests.png">
      </div>
      <div style="float:left;">
        <h3 style="margin: 4px 0;">Determine your <strong>true</strong> aspirational profession</h3>
        <div>Choose among well matching professions</div>
      </div>
    </div>
    <div class="test-box">
      <div style="float:left;">
        <img src="https://d31u95r9ywbjex.cloudfront.net/sites/default/files/images/bigfive.png">
      </div>
      <div style="float:left;">
        <h3 style="margin: 4px 0;">Put together your own career <strong>path</strong></h3>
        <div>Pick and choose among the advised steps</div>
      </div>
    </div>
    <div class="test-box">
      <div style="float:left;">
        <img src="https://d31u95r9ywbjex.cloudfront.net/sites/default/files/images/more.png">
      </div>
      <div style="float:left;">
        <h3 style="margin: 4px 0;">Spot your next <strong>dream job</strong> on the Market</h3>
        <div>View and select your matching next job</div>
      </div>
    </div>
    <div class="test-box">
      <div style="float:left;">
        <img src="https://d31u95r9ywbjex.cloudfront.net/sites/default/files/images/disc.png">
      </div>
      <div style="float:left;">
        <h3 style="margin: 4px 0;">Keep following your <strong>true path</strong></h3>
        <div>Step by step, get closer to your aspirational profession</div>
      </div>
    </div>
  </div>

    <a href="welcome" type="button" class="btn btn-primary">Shall we start?</a>

</div>

<div class="footer-wide">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>

</div>



