
<a href="/professions/<%= Profession.where(track: 'Product Management').ids[0] %>"><img src="https://i.imgur.com/6QNtHXv.jpg" style="width: 100%;"></a>

<div class="wrapper">
    <div class="first">
      <a href="/professions/1" class="btn btn-outline-primary">Product Manager</a>
      <h4>Description</h4>
      <p>Connection between product development and marketing</p>
      <h4>Knowledge</h4>
      <ol>
      <li>Bachelor degree or Certificate</li>
      <li>Product management techniques</li>
      <li>Lean methodes</li>
      </ol>
      <h4>Personality</h4>
      <ul>
      <li>Enterpreneurial</li>
      <li>Analytical thinking</li>
      <li>Goal and product oriented</li>
      </ul>
      <h4>Salary</h4>
      <p>$80.000-$120.000</p>
    </div>
    <div class="second">
      <a href="#" class="btn btn-outline-primary">Softare Engineer</a>
      <h4>Description</h4>
      <p>Binding business with programmer knowhow</p>
      <h4>Knowledge</h4>
      <ol>
      <li>Bachelor degree or Certificate</li>
      <li>"Hands on" experience</li>
      <li>General IT and Mathematics knowledge</li>
      </ol>
      <h4>Personality</h4>
      <ul>
      <li>Outgoing personality</li>
      <li>Eager to learn</li>
      <li>Great affinity for Task & Self management</li>
      </ul>
      <h4>Salary</h4>
      <p>$60.000-$90.000</p>
    </div>
</div>
