<% content_for :meta_title, 'Compare Your Options' %>

<h3>Which is your <em><strong>True Path?</strong></em></h3>
<div class="wrapper">
    <div class="first">
      <a href="/professions/<%= Profession.where(track: 'Product Management').ids[0] %>" class="btn btn-primary btn-lg btn-block">Product Manager</a>
      <div id="D">
      <h6>Connection between Product Development and Marketing</h6>
      </div>

      <div id="K">
      <h7>Knowledge</h7>
      <ul>
      <li>Bachelor Degree or Certificate</li>
      <li>Product Management Techniques</li>
      <li>Lean Methods</li>
      </ul>
      </div>

      <div id="Pr">
      <h7>Pros</h7>
      <ul>
      <li>Extremly diversified tasks </li>
      <li>Works cross-departmental</li>
      <li>Has creative freedom</li>
      </ul>
      </div>

      <div id="P">
      <h7>Personality</h7>
      <ul>
      <li>Entrepreneurial</li>
      <li>Analytical thinking</li>
      <li>Goal and Product Oriented</li>
      </ul>
    </div>

    <div id="S">
      <h7>Salary</h7>
      <ul>
        <li>$80.000-$120.000</li>
      </ul>
      </div>

      <a href="/professions/<%= Profession.where(track: 'Product Management').ids[0] %>" class="btn btn-primary btn-lg btn-block">Continue</a>
    </div>
    <div class="second">
      <a href="#" class="btn btn-primary btn-lg btn-block">Software Engineer</a>
      <div id="D">
      <h6>Combining Business Sense with Programming Know-How</h6>
      </div>

      <div id="K">
      <h7>Knowledge</h7>
      <ul>
      <li>Bachelor Degree or Certificate</li>
      <li>"Hands-on" Experience</li>
      <li>General IT and Mathematics Knowledge</li>
      </ul>
      </div>

      <div id="Pr">
      <h7>Pros</h7>
      <ul>
      <li>Extremly diversified tasks </li>
      <li>Works cross-departmental</li>
      <li>Has creative freedom</li>
      </ul>
      </div>

      <div id="P">
      <h7>Personality</h7>
      <ul>
      <li>Outgoing Personality</li>
      <li>Eager to learn</li>
      <li>Great affinity for Task & Self Management</li>
      </ul>
      </div>

      <div id="S">
      <h7>Salary</h7>
      <ul>
        <li>$60.000-$90.000</li>
      </ul>
      </div>

      <a href="/professions/<%= Profession.where(track: 'Software Engineer').ids[0] %>" class="btn btn-primary btn-lg btn-block">Continue</a>
    </div>
</div>
