<% content_for :meta_title, 'Compare Your Options' %>

<h3>Which one do you prefer?</h3>
<div class="wrapper">
    <div class="first">
      <a href="/professions/<%= Profession.where(track: 'Product Management').ids[0] %>" class="btn btn-info btn-lg btn-block">Product Manager</a>
      <div id="D">
      <h5>Connection between product developement and marketing</h5>
      </div>
      <div id="K">
      <h4>Knowledge</h4>
      <ul>
      <li>Bachelor degree or Certificate</li>
      <li>Product management techniques</li>
      <li>Lean methodes</li>
      </ul>
      </div>

      <div id="P">
      <h4>Personality</h4>
      <ul>
      <li>Enterpreneurial</li>
      <li>Analytical thinking</li>
      <li>Goal and product oriented</li>
      </ul>
    </div>
    <div id="S">
      <h4>Salary</h4>
      <p>$80.000-$120.000</p>
      </div>
      <a href="/professions/<%= Profession.where(track: 'Product Management').ids[0] %>" class="btn btn-primary btn-lg btn-block">Continue</a>
    </div>
    <div class="second">
      <a href="#" class="btn btn-info btn-lg btn-block">Software Engineer</a>
      <div id="D">
      <h5>Combining business sense with programming know-how</h5>
      </div>
      <div id="K">
      <h4>Knowledge</h4>
      <ul>
      <li>Bachelor degree or Certificate</li>
      <li>"Hands on" experience</li>
      <li>General IT and Mathematics knowledge</li>
      </ul>
      </div>
      <div id="P">
      <h4>Personality</h4>
      <ul>
      <li>Outgoing personality</li>
      <li>Eager to learn</li>
      <li>Great affinity for Task & Self management</li>
      </ul>
      </div>
      <div id="S">

      <h4>Salary</h4>
      <p>$60.000-$90.000</p>
      </div>
      <a href="/professions/<%= Profession.where(track: 'Software Engineer').ids[0] %>" class="btn btn-primary btn-lg btn-block">Continue</a>
    </div>
</div>
