<!-- <a href="/professions/1"> -->

<div id="wrapper">
    <div id="first">
      <a href="/professions/1" class="btn btn-outline-primary">Product Mangager</a>
      <h4>Description</h4>
      <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
      <h4>Salary</h4>
    </div>
    <div id="second">
      <a href="#" class="btn btn-outline-primary">Softare Engineer</a>
      <h4>Description</h4>
      <p>bla bla bla bla bla bla bla bla bla bla bla bla bla bla bla</p>
      <h4>Salary</h4>


    </div>
</div>


