<h3>How does this sound?</h3>
<div class="wrapper">
    <div class="first">
      <a href="/professions/<%= Profession.where(track: 'Product Management').ids[0] %>" class="btn btn-info btn-lg btn-block">Product Manager</a>
      <div id="D">
      <h5>Connection between Product Development and Marketing</h5>
      </div>
      <div id="K">
      <h4>Knowledge</h4>
      <ul>
      <li>Bachelor Degree or Certificate</li>
      <li>Product Management Techniques</li>
      <li>Lean Methods</li>
      </ul>
      </div>

      <div id="P">
      <h4>Personality</h4>
      <ul>
      <li>Entrepreneurial</li>
      <li>Analytical thinking</li>
      <li>Goal and Product Oriented</li>
      </ul>
    </div>
    <div id="S">
      <h4>Salary</h4>
      <p>$80.000-$120.000</p>
      </div>
      <a href="/professions/<%= Profession.where(track: 'Product Management').ids[0] %>" class="btn btn-primary btn-lg btn-block">Continue</a>
    </div>
    <div class="second">
      <a href="#" class="btn btn-info btn-lg btn-block">Software Engineer</a>
      <div id="D">
      <h5>Combining Business Sense with Programming Know-How</h5>
      </div>
      <div id="K">
      <h4>Knowledge</h4>
      <ul>
      <li>Bachelor Degree or Certificate</li>
      <li>"Hands-on" Experience</li>
      <li>General IT and Mathematics Knowledge</li>
      </ul>
      </div>
      <div id="P">
      <h4>Personality</h4>
      <ul>
      <li>Outgoing Personality</li>
      <li>Eager to learn</li>
      <li>Great affinity for Task & Self Management</li>
      </ul>
      </div>
      <div id="S">

      <h4>Salary</h4>
      <p>$60.000-$90.000</p>
      </div>
      <a href="/professions/<%= Profession.where(track: 'Software Engineer').ids[0] %>" class="btn btn-primary btn-lg btn-block">Continue</a>
    </div>
</div>
