<%# <h1>Pages#Gap_analysis</h1>
<p>Find me in app/views/professions/id</p> %>
 <title>Gap Analysis</title>
    <div class="container">
      <div class="row justify-content-center">
         <%# <%= image_tag "#", class: "rounded mx-auto d-block", alt: "Gap Analysis" %>
          <h2>Your Gap Analysis for <%=@profession.track%></h2>
            <p>Those are the skills you need to aquire to get on your <i><b>Truepath</b></i> as a <%= @profession.track %></p>
          <a href="#" type="button" class="btn btn-primary">Go to the roadmap</a>
      </div>  
    </div>  

