<%# <h1>Pages#Roadmap</h1>
<p>Find me in app/views/professions/id</p> %>
 <title>Roadmap</title>
    <div class="container">
      <div class="row justify-content-center">
         <%= image_tag "RoadmapPM.jpg", class: "rounded mx-auto d-block", alt: "Roadmap PM" %>
          <h2>Your Roadmap for <%=@profession.track%></h2>
            <p>This is your <i><b>Truepath</b></i> to become a <%= @profession.track %></p>
          <a href="#" type="button" class="btn btn-primary">Go to the Gap Analysis</a>
      </div>  
    </div>  

