.exit-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  height: 0;
  a {
    color: white;
    text-decoration: none;
  }
}

.exit-btn {
  margin-right: 10px;
  position: relative;
  /* right: -35px; */
  font-weight: bold;
  top: -20px;
  background-color: $eggplant;
  // width: 37px;
  border-radius: 50%;
  color: white !important;
  font-size: 0.6em;
  height: 25px;
  width: 25px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
      background-color: $heading-highlight;
  }

}
