
.test-box {
  justify-content: space-between;
  background: white;
  color: transparent;
  font-family: "Open Sans",sans-serif;
  font-size: 14px;
  float: left;
  color: #3d3d3d;
  letter-spacing: 0.01em;
  box-sizing: border-box;
  margin: 8px 20px 8px 0;
  padding: 8 px;
  background-color: #f2f2f2;
  border-top: none;
  text-align: left;
  display: flex;
}


