
.footer_wide {
  color: transparent;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: white;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  cursor: pointer;
  padding: 24px 20px;
  display: inline-block;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image_logo {
  width: 60px
}

.footer-wide {
  background-color: $eggplant;
  color: white;
}

.footer-links {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  font-size: 2em;

  a {
    color: white;
    padding: 10px;
    transition: color 0.3s;
  }
  a:hover {
    color: $heading-highlight;
  }
}
