
#footer {
  background-color: $eggplant;
  font-family: "Open Sans",sans-serif;
  text-align: center;
  box-sizing: border-box;
    position: relative;
    min-height: 1px;
    padding: 24px 20px;
    min-width: 300px;
    max-height: 110px;
}

p {
  text-align: center;
  color: white;

}
.image_logo {
  width: 60px
}

  a {
    color: white;
    padding: 10px;
    transition: color 0.3s;
  }
  a:hover {
    color: $heading-highlight;
  }
