
.footer_wide {
  color: transparent;
  background-color: grey;
  color: white;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: white;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  cursor: pointer;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image_logo {
  width: 60px
}

.footer-links {
  display: flex;
  align-items: center;
}

i.fab.fa-github {
  color: white
}

i.fab.fa-instagram {
  color: white
}

i.fab.fa-facebook {
  color: white
}

i.fab.fa-twitter {
  color: white
}

i.fab.fa-linkedin {
  color: white
}