
#footer {
  background-color: $eggplant;
  font-family: "Open Sans",sans-serif;
  text-align: center;
}

p {
  text-align: center;
  color: white;

}
.image_logo {
  width: 60px
}

  a {
    color: white;
    padding: 10px;
    transition: color 0.3s;
  }
  a:hover {
    color: $heading-highlight;
  }
