
.footer-wide {
  color: transparent;
  font-family: "Open Sans",sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: 0.01em;
  color: #3d3d3d;
  box-sizing: border-box;
  position: relative;
  min-height: 1px;
  cursor: pointer;
  padding: 24px 20px;
  display: inline-block;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.image_logo {
  width: 60px
}

.footer-links {
  display: flex;
  align-items: center;
}
