.navbar-lewagon {
  display: none;
}

body.pages.home, .professions.show, .registrations.edit, .sessions.new {

  .navbar-lewagon {
    justify-content: space-between;
    background: white;

    display: flex;
  }

  .navbar-lewagon .navbar-collapse {
    flex-grow: 0;
  }

  .navbar-lewagon .navbar-brand img {
    width: 40px;
    transform: scaleX(-1);
  }

}
