.progressbar-outer {
  position: relative;
  height: 50px;
  width: 80%;
  margin: 0 auto;

  .steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .step {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 5px solid $eggplant;
    border-radius: 50%;
    color: $eggplant;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
    font-weight: bold;

    &.active {
      background-color: $eggplant;
      color: #fff;
    }
  }
  .line {
    position: absolute;
    width: 99%;
    top: 50%;
    transform: translate(0, -50%);
    border-top: 5px solid $eggplant;
    margin: 0;
    z-index: -1;
  }
}
