// Graphical variables
@import "config/colors";
@import "config/fonts";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/professions";
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,400;1,500&display=swap');
@import "jquery-ui";
@import "pages/compare";
@import "pages/questions";
@import "components/carousel";

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $eggplant;
  font-weight: bolder;
  margin: 20px 0;

  p {
    font-family: $sub;
    color: $subheading;
  }
}

p {
  font-family: $body-font;
}

strong {
  color: $heading-highlight;
}

.sub p, p.sub {
  font-family: $sub;
  font-style: italic;
  color: $subheading;
  font-size: 21px;
}
